<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo Application Help</title>
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Todo Application Help</h1>
    <p>Two text fields are available in this todo application:</p>
    <ol>
      <li>First is for the title.</li>
      <li>Second is for the description.</li>
    </ol>
    <p>If you hit the "Add" button, the task will be added to the list and displayed at the end.</p>
    <p>In the displayed task, there is one "Delete" button available. Clicking on it will remove the task.</p>
    </div>
</body>
</html>
