<nav class="navbar nav navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>
</nav>
<nav>
  <a class="navbar-brand" href="#" routerLink="/help" style="color: blue;">Help</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>
</nav>

<app-todo></app-todo>

<!-- <router-outlet></router-outlet>  -->
<!-- this is the tag tells to render the routing here   -->